* {
  box-sizing: border-box;
}

.year {
  font-weight: bold;
}
.header {
  text-align: center;
}

#main{
  background-color: #eee;
}


#img-div {
  background-color: white;
  margin: 3%;
}


#image {
  max-width:100%;
  margin:0 auto;
  display: block;
  height: auto;
}

#img-caption {
  text-align: center;
  padding:22px;
}

#title{
  color: #333;
}

.words {
  display: block;
font-size: 1.17em;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
font-weight: bold;
text-align: center;
}

.quote {
  font-style: italic;
 max-width: 545px;
 margin: 0 auto 50px auto;
 text-align: center;
}

li{
   margin: 16px 0;
}

ul {
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6;
}

#headline {
  margin: 50px 0;
   text-align: center;
}

a{
   color: #477ca7;
}
